@model WebApplication4.ViewModel.CvViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CV</title>
</head>
<body>
    <div>
        <h4>Personal Statment</h4>
        <hr />
        <table>
            <tr>
                <td>
                    
                    @Model.personal[0].PStatment
                </td>
            </tr>
            <tr>
                <td>

                    @Model.instit[0].name
                    @Model.instit[0].institutionAddress
                    @Model.instit[0].studyDate
                </td>
                    
            </tr>
            <tr>
                <td>
                    @Model.edu[1].eduLevel
                </td>
            </tr>
        </table>



        <dl class="dl-horizontal">
            <dt>
              
            </dt>
    
            <dd>
               
            </dd>
    
        </dl>
    </div>
    <p>
        
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
