@model WebApplication4.ViewModel.CvViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CV</title>
    <style type="text/css">
        table, th, td, tr {
            border: 1px solid black;
        }

        h3 {
            text-align: center;
        }
        .educationz > div
        {
            border: 1px solid #aaa;
            border-radius: 10px;
            background-color:#e1e1e1;
            margin: 10px 0px;
        }

        .educationz > div > div
        {
            padding: 20px;
        }

        .educationz .level
        {
            text-align: center;
        }
        .educationz .module
        {
            background-color:#fff;
        }


    </style>
</head>
<body>
    <div id="Header">
        <div class="jumbotron">
            <h1 style="text-align:center">Orville Miller</h1>
            <p style="text-align:center">Contact Details Here</p>
        </div>
    </div>
    <div>
        <div id="statetment Section">
            <div><h3>Personal Statement</h3><hr /></div>
            <div>
                @foreach (var i in Model.personal)
                {
                    @i.PStatment
                }


                @*<p>@Model.personal[0].PStatment</p>*@


                
                <button type="button" class="btn btn-group-xs pull-right" data-toggle="modal" data-target="#PsModal">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>                   
                </button>
            </div>
        </div>

        <h3>Education <span class="glyphicon glyphicon-education" aria-hidden="true"></span> </h3>
        <hr style="width:700px" />

        @*<button type="button" class="btn btn-group-xs pull-right" data-toggle="modal" data-target="#EduEditModal">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>*@
        
        <div class="row">
            @foreach (var i in Model.instit)
            {
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div>
                                <button type="button" class="btn btn-group-xs pull-right" data-toggle="modal" data-target="#EduEditModal">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                            </div>
                            <b>@i.EducationLevels.eduLevel</b> - @i.institutionAddress.Split(',').FirstOrDefault()
                            <br/>
                            @i.studyDate.Year

                         
                        </div>
                        <div class="panel-body">
                            <p>
                                @foreach (var j in Model.qual.Where(x => x.Inst_ID == i.inst_ID))
                                {
                                    @(j.module + ":" + j.grade) <br />

                                    <ul>
                                        @if (j.moduleDetail != null)
                                        {
                                            string[] stringtest = j.moduleDetail.Split(',');
                                            for (int s = 0; s < stringtest.Length; s++)
                                            {
                                                <li>
                                                    @stringtest[s]
                                                </li>

                                            }
                                        }
                                    </ul>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div>
            
        </div>






    </div>
</body>

</html>
