@model WebApplication4.ViewModel.CvViewModel

@{
    ViewBag.Title = "CV2";
}
 
    <<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit This</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CVEdit", "CV", FormMethod.Post, new { id = "ID" }))
                {
                    <div>
                        <fieldset>
                            <legend> EDUCATION</legend>
                            <div class="editor-label">
                                EDU EDIT MODAL
                            </div>
                            <div class="editor-field">
                                @Html.TextBox("asd")
                                @Html.ValidationMessage("CV")
                            </div>
                            <div class="editor-label">
                                @Html.Label("123")

                            </div>
                            <div class="editor-field">
                                @Html.TextBox("asd")
                                @Html.ValidationMessage("asd")
                            </div>

                        </fieldset>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" value="submit">Save changes</button>
            </div>
        </div>
    </div>
</div>
